.background {
    -fx-background-color: rgba(20, 23, 24, 1);
}

.text-style-1 {
    -fx-font-family: "Poppins", sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff; /* красный цвет */
}

.button-style {
    -border-radius: 13px;
    -width: 344px;
    -height: 67px;
    -fx-background-color: rgba(43, 45, 48, 1)
}