.background {
    -fx-background-color: rgba(20, 23, 24, 1);
}

.background-two {
    -fx-background-color: rgba(35, 38, 39, 1);
}


.text-style-1 {
    -fx-font-family: "Poppins", sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
}

.button-style {
    -border-radius: 13px;
    -width: 344px;
    -height: 67px;
    -fx-background-color: rgba(43, 45, 48, 1)
}



/*Скрол БАР

/* общий фон для самого ScrollPane */
.scroll-pane {
    -fx-background-color: rgba(35,38,39,1);
    -fx-background: rgba(35,38,39,1);
}

/* фон для viewport (области, где контент) */
.scroll-pane > .viewport {
    -fx-background-color: rgba(35,38,39,1);
}

/* убираем белые полосы у скроллбаров */
.scroll-bar {
    -fx-background-color: rgba(35,38,39,1);
}

/*Панель поиска

 */
.search-box {
    -fx-background-color: rgba(35,38,39,1);
    -fx-background-radius: 100;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #aaaaaa;
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
